@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
<ul class="nav navbar-nav">
    @if (User.IsInRole("Admin"))

    {
        //Menu del Administrador
        <li> @Html.ActionLink("Tipos", "Index", "Tipoes");</li>
        <li> @Html.ActionLink("Publicaciones", "Index", "Publicacions");</li>
        <li> @Html.ActionLink("Capitulos", "Index", "Capituloes");</li>
        <li> @Html.ActionLink("Comentarios", "Index", "Comentarios");</li>

    }

    @if (User.IsInRole("Autor"))

    {
        //Menu del Autor
        <li> @Html.ActionLink("Publicaciones", "Index", "Publicacions");</li>
        <li> @Html.ActionLink("Capitulos", "Index", "Capituloes");</li>
        <li> @Html.ActionLink("Comentarios", "Index", "Comentarios");</li>

    }
    @if (User.IsInRole("Suscritor"))

    {
        //Menu del Suscritor
        <li> @Html.ActionLink("Capitulos", "Index", "Capituloes");</li>
        <li> @Html.ActionLink("Comentarios", "Index", "Comentarios");</li>

    }

</ul>

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
